APP_PORT1 = 5000
APP_PORT2 = 6000
APP_PORT3 = 7000

SESSION_SECRET = 58df4asf4a84f65a4f98sa498sa4fsa984sa984sa94fas584fa98s4Fda45wa454a4b545545b454fr5n4AWBRHBAWEHBA4sdg4dsgdgs5ds145sdB

#mailer
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=muhamaddamar1812@gmail.com
MAIL_PASSWORD=ckpqenrglsipprmn
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="muhamaddamar1812@gmail.com"